<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Guru Authors</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Author List</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr th:each="author : ${authors}">
                <td th:text="${author.id}">123</td>
                <td th:text="${author.firstName}">fName</td>
                <td th:text="${author.lastName}">lName</td>
            </tr>
        </table>
    </body>
</html>
