<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- load the properties file: sport.properties -->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    <bean id="myFortuneService"
        class="com.springcore.score_ioc_di.HappyFortuneService">
    </bean>
    
    <bean id="baseballCoach"
        class="com.springcore.score_ioc_di.BaseballCoach"
        scope="singleton"
        init-method="doMyStartupStuff"
        destroy-method="doMyDestroyStuff">
        
        <!-- init-method/destroy-method works with scope_singleton -->
        
        <constructor-arg ref="myFortuneService" />
    </bean>
    
    <bean id="trackCoach"
        class="com.springcore.score_ioc_di.TrackCoach">
        <property name="fortuneService" ref="myFortuneService" />
        
        <!-- inject literal values -->   
	<property name="emailAddress" value="${email}" />
	<property name="team" value="${team}" />
    </bean>
    
    
</beans>